@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
}

#button_login_page {
    border: 2px solid rgb(199, 199, 199) !important;
}

#button_login_page:hover {
    background-color: rgb(199, 199, 199)!important;
}
.offcanvas-body.offCanvas_fechado {
    transform: translateX(48rem);
}

.offcanvas-body:not(.offCanvas_fechado) {
    transform: translateX(0);
}

.fa, .fa-solid {
    line-height: inherit !important;
}


